# This file is used for publishing to GitHub Packages
# For local development, create a .npmrc file with your GitHub token
# See README.md for setup instructions
@novigotechnology:registry=https://npm.pkg.github.com

# Force yarn usage
engine-strict=true
save-exact=true
